@{
  Layout = "_Layout";
}

@model SweetAndSavoryTreats.Models.Treat

<p>Are you sure you want to remove this treat from the database?</p>

@using (Html.BeginForm())
{
  <input type="submit" value="Delete Entry"/>
}

<hr/>
<p>@Html.ActionLink("Back to Treat Details", "Details", new { id = Model.TreatId }) </p>