body {
  /* background-color: #9d9d9d; */
  background-color: #2a3439;
  color: #eb6123;
}

a {
  color: #faf9f6;
  /* color: #512888; */
}

a:hover {
  color: #7349ac;
}

.text-danger {
  font-weight: 600;
}
