body {
  /* background-color: #9d9d9d; */
  background-color: #2a3439;
  color: #eb6123;
}

p {
  color: #b200ed;
}

a {
  color: #faf9f6;
  /* color: #512888; */
}

a:hover {
  color: #ffd21c;
  /* color: #e4a0f7; */
  /* color: #7349ac; */
}

li {
  color: #ffd21c;
}

.main a {
  color: #9853eb;
}

.main a:hover {
  color: #b200ed;
}

.main p {
  color: #ffd21c;
}

.text-danger {
  font-weight: 600;
}

input[type="text"],
textarea,
#Password,
#ConfirmPassword {
  /* background-color: #d1d1d1; */
  background-color: #ffd21c;
}
